/*  src/Footer.css  */
.Footer {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: rgb(192, 45, 26);
    color: #fff;
  }

 
  .Footer-Subtitle {
    color: rgba(255, 255, 255, 0.75);
    
  }